#toolbar_title {
	display: none;
}
#main_toolbar {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
	background-color: transparent;
	box-shadow: none;
}
.mdc-toolbar-fixed-adjust {
	margin-top: 0;
	height: 100vh;
}
.opaque {
	background: var(--mdc-theme-primary)!important;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)!important;
    transition: background-color 0.1s linear 0s;
}
#anime_info_section {
	align-items: center;
	margin: auto;
}
#anime_info_section .mdc-card {
	width: 95vw;
    margin: auto;
    position: relative;
}
#header_image {
	width: 100vw;
	height: 400px;
	background-position: center;
    background-size: cover;
    background-color: var(--mdc-theme-primary);
    margin-bottom: -100px;
}
#anime_info_header {
	display: flex;
}
#anime_image {
	margin-right: 12px;
	height: 275px;
}
#anime_image img {
	height: inherit;
}
#anime_description, #extra_detail_section {
	margin: 12px;
}
#anime_title {
	margin-top: 12px;
}
#anime_title_info span {
	margin-right: 12px;
}
#anime_fab {
	position: absolute;
	top: 15.5rem;
    right: 1rem;
    z-index: 3;
}
@media (max-width: 1023px) {
	#anime_info_section .mdc-card {
		width: 100vw;
	}
	#header_image {
		height: 150px;
    	margin-bottom: 0px;
	}
	#anime_image {
		height: 200px;
	}
	#anime_fab {
		position: fixed;
		top: auto;

	}
}