.anime_id {
	display: none;
}
#anime_list {
	align-items: center;
    width: calc(100vw - 212px);
    margin: auto;
    padding-left: 61px;
}
.anime_list_item {
	cursor: pointer;
}
#completed_list, #on_hold_list, #dropped_list, #ptw_list {
	display: none;
}
.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab--active:after, .mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab:active:after, .mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab:hover:after {
	display: none;
}
.mdc-tab__icon+.mdc-tab__icon-text {
	padding-bottom: 6px;
	padding-top: 0px;
	display: none;	
}
.mdc-tab__icon-text {
	font-size: .6rem;
}
.mdc-tab--active {
	color: var(--mdc-theme-primary)!important;
}
.mdc-list--two-line.mdc-list--dense .mdc-list-item, .mdc-list--two-line .mdc-list-item {
	height: 80px;
}
.mdc-list--dense .mdc-list-item__start-detail {
    width: 49px!important;
    height: 72px;
    margin-right: 18px;
}
/*.mdc-list-divider {
	margin-top: .75rem;
}*/
.anime_list_thumb {
    object-fit: cover;
}
@media (max-width: 1023px) {
	#anime_list {
		align-items: center;
	    width: 100%;
	    margin: auto;
    	padding-left: 0px;
	}
	.mdc-tab__icon+.mdc-tab__icon-text {
		padding: 0;
		display: block;
	}
	.mdc-tab__icon-text {
		font-size: .55rem;
	}
}