.anime_id {
	display: none;
}
#list_drop_down {
	padding-left: 2px;
}
#info-dialog .mdc-dialog__header {
	padding: 0;
	background-position: center;
    background-size: cover;
	color: var(--mdc-theme-text-primary-on-primary);
	position: relative;
}
#anilist_banner {
	object-fit: cover;
	object-position: center;
	width: 100%;
}
#anilist_banner, #info-dialog .mdc-dialog__header {
	height: 248px;
}
#anime_title_info {
	position: absolute;
	background-color: var(--mdc-theme-primary);
	transition: background-color 200ms linear;
	display: flex;
    height: 100%;
    width: 100%;
    padding: 0
}
#mal_poster {
	margin-right: 12px;
	height: 200px;
	margin-left: 24px;
}
#mal_poster, #title_text {
	margin-top: 24px;
}
#title_text {
	margin-right: 24px;
}
#info-dialog .mdc-list-group__subheader {
	color: var(--mdc-theme-primary);
}
#info-dialog .mdc-dialog__body--scrollable {
	max-height: 20rem;
}
#info-dialog .mdc-list-item {
	white-space: initial;
}
#anime_list {
	align-items: center;
    width: calc(100vw - 240px);
    margin: auto;
}
#anime_list section .mdc-list-divider:last-child {
	display: none;
}
#anime_list_nav .mdc-tab-bar__indicator {
	display: none;
}
.anime_list_item {
	cursor: pointer;
	position: relative;
}
.mdc-button__icon {
	margin-right: 0px;
}
#completed_list, #on_hold_list, #dropped_list, #ptw_list {
	display: none;
}
.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab--active:after, .mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab:active:after, .mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab:hover:after {
	display: none;
}
.mdc-tab__icon+.mdc-tab__icon-text {
	padding-bottom: 6px;
	padding-top: 0px;
}
.mdc-tab__icon-text {
	font-size: .6rem;
}
.mdc-tab--active {
	color: var(--mdc-theme-primary)!important;
}
.mdc-list--two-line.mdc-list--dense .anime_list_item, .mdc-list--two-line .anime_list_item {
	height: 80px;
}
.anime_list_thumb {
    object-fit: cover;
    margin-right: 18px!important;
}
@media (max-width: 1023px) {
	#mal_poster {
		height: 128px;
	}
	#anilist_banner, #info-dialog .mdc-dialog__header {
		height: 176px;
	}
	#anime_list {
		align-items: center;
	    width: 100%;
	    margin: auto;
    	padding-left: 0px;
	}
	#anime_list .mdc-list-group {
		padding-bottom: 60px;
	}
	.mdc-tab__icon+.mdc-tab__icon-text {
		padding: 0;
	}
	.mdc-tab__icon-text {
		font-size: .6rem;
	}
}
@media (min-width: 1024px) {
	.mdc-tab-bar--icons-with-text .mdc-tab__icon {
		margin-top: 11px;
	}
}