a {
	text-decoration: none;
    color: var(--mdc-theme-primary);
}
/*#main_toolbar {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
	background-color: transparent;
	box-shadow: none;
}*/
.mdc-toolbar-fixed-adjust {
	/*margin-top: 0;*/
	height: 100vh;
}
.opaque {
	background: var(--mdc-theme-primary)!important;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)!important;
    transition: background-color 0.1s linear 0s;
}
#anime_info_section {
	align-items: center;
	margin: auto;
}
#anime_info_section .mdc-card {
	width: 95vw;
    margin: auto;
    position: relative;
}
#header_image {
	display: none;
    margin-bottom: -50px;
}
#header_image img {
	width: 100%;
	max-height: 500px;
    object-fit: cover;
}
#anime_info_header {
	display: flex;
}
#anime_image {
	margin-right: 12px;
	height: 275px;
}
#anime_image img {
	height: inherit;
}
#anime_description, #extra_detail_section {
	margin: 12px;
}
#anime_title_section {
	position: relative;
	width: 100%;
    margin-right: 12px;
}
#anime_title {
	margin-top: 12px;
	width: calc(100% - 24px);
}
#anime_title_info span {
	margin-right: 12px;
}
#external_links {
	position: absolute;
	top: 16px;
	right: 0;
	cursor: pointer;
	color: var(--mdc-theme-text-primary-on-light);
}
#circle_row {
    text-align: center;
    margin: 12px;
}
.description_circle {
	width: 64px;
    height: 64px;
    background-color: var(--mdc-theme-primary);
    border-radius: 50%;
    color: var(--mdc-theme-text-primary-on-primary);
    display: inline-block;
    margin: 0px 5px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.description_circle  .mdc-typography--caption {
	font-size: 0.7rem;
	display: inline-block;
	margin-top: 10px;
}
.description_circle  .mdc-typography--body2 {
	font-size: 1rem;
}
#anime_fab {
	position: absolute;
	top: 15.5rem;
    right: 1rem;
    z-index: 3;
}
#next_episode {
	position: absolute;
	bottom: 12px;
	width: 100%;
}
#description .mdc-typography--body2 {
	line-height: 0;
}
#youtube_section {
	margin: 12px;
	display: none;
}
#youtube_section .mdc-grid-tile, #youtube_section .mdc-grid-tile__primary, #youtube_section, .mdc-grid-tile__primary-content {
	height: 135px;
	width: 240px;
}
#youtube_section .mdc-grid-list .mdc-grid-tile__primary {
	padding-bottom: 0;
}
#youtube_section .mdc-grid-tile__secondary {
	background-color: rgba(0,0,0,.54);
}
#youtube_section .mdc-grid-list .mdc-grid-list__tiles {
	margin: 0px auto;
}
#youtube_section .mdc-grid-list .mdc-grid-tile {
	margin: 0;
}
@media (max-width: 1023px) {
	#anime_info_section .mdc-card {
		width: 100vw;
	}
	#header_image {
    	margin-bottom: -6px;
	}
	#header_image img {
    	max-height: 150px;
	}
	#anime_image {
		height: 200px;
	}
	#anime_fab {
		position: fixed;
		top: auto;
	}
}