.mdc-linear-progress, .anime_id, #anime_list .mdc-list-divider:last-child, 
#anime_list_nav .mdc-tab-bar__indicator,
.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab--active:after,
.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab:active:after,
.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab:hover:after {
	display: none;
}
.toolbar_title {
	margin: auto 8px auto 24px;
}
#list_drop_down {
	padding-left: 2px;
}
#anime_list {
    width: 80%;
    padding-left: 81px;
    margin: auto;
}
.anime_list_item {
	cursor: pointer;
	position: relative;
}
.mdc-button__icon {
	margin-right: 0px;
}
.mdc-tab__icon+.mdc-tab__icon-text {
	padding-bottom: 6px;
	padding-top: 0px;
}
.mdc-tab__icon-text {
	font-size: .6rem;
}
.mdc-list--two-line.mdc-list--dense .anime_list_item, .mdc-list--two-line .anime_list_item {
	height: 80px;
}
.mdc-list--dense .anime_list_thumb {
    object-fit: cover;
    margin-right: 18px;
    width: 49px;
    height: 72px;
    background-image: url(../images/loading.gif);
    background-size: cover;
    background-position: center;
}
@media (max-width: 1023px) {
	#anime_list {
		align-items: center;
	    width: 100%;
	    margin: auto;
    	padding-left: 0px;
    	padding-bottom: 61px;
	}
	.mdc-tab__icon+.mdc-tab__icon-text {
		padding: 0;
	}
	.mdc-tab__icon-text {
		font-size: .6rem;
	}
}
@media (max-width: 599px) {
	.toolbar_title {
		margin: auto 8px auto 16px;
	}
}
@media (min-width: 1024px) {
	.mdc-tab-bar--icons-with-text .mdc-tab__icon {
		margin-top: 11px;
	}
}