html {
  background-color: #fff;
}
body {
  height: 100vh;
  display: flex;
}
main {
  margin: auto;
  text-align: center;
}
#elsie_circle {
	background-image: url(../images/elsie-1080.jpg);
  height: 200px;
  background-position: center;
  background-size: cover;
  width: 200px;
  margin: 1rem auto;
  border-radius: 50%;
}
#title, #server_message {
	margin-bottom: 1rem;
}
#title {
	color: var(--mdc-theme-primary);
}
#description {
  margin: auto 20%;
}
#server_message {
	max-width: 500px;
	margin: auto;
  margin-top: 1rem
}
@media (max-width: 599px) {
  #description {
    margin: auto 0px;
  }
}