:root {
  --mdc-theme-primary: #673ab7;
  --mdc-theme-primary-light: #9a67ea;
  --mdc-theme-primary-dark: #320b86;
  --mdc-theme-secondary: #ff80ab;
  --mdc-theme-secondary-light: #ffb2dd;
  --mdc-theme-secondary-dark: #c94f7c;
}
main {
	text-align: center;
	margin: 12px;
}
#help {
	position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}
.mdc-button--primary {
	background-color: var(--mdc-theme-primary)!important;
}
#elsie_circle {
	background-image: url(../images/elsie-1080.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    width: 200px;
    margin: 1rem auto;
    border-radius: 50%;
}
#title, #server_message {
	margin-bottom: 1rem;
}
#title {
	color: var(--mdc-theme-primary);
}
#server_message {
	max-width: 500px;
	margin: auto;
}
.mdc-textfield {
	width: 300px;
}