#search_sheet {
	position: fixed;
    background: white;
    height: 100%;
    width: 100%;
    z-index: 12;
    top: -100%;
    transition: 0.2s;
}
#search_sheet .mdc-toolbar {
    background-color: white;
}
#search_sheet .mdc-toolbar, #search_close {
	color: var(--mdc-theme-text-primary-on-light);
}
#search_header {
    display: none;
}
#mal_search {
    width: 100%;
}
#search_body {
    vertical-align: top;
}
#search_textfield {
    padding-top: 16px;
    width: 100%;
}
#search_query {
    font-size: 1.25rem;
    border-bottom: none;
}
#search_results {
	overflow-y: auto;
    overflow-x: hidden;
    height: inherit;
}
#search_results .mdc-list {
    padding: 0 16px;
}
.search_result_item {
    cursor: pointer;
}
.mdc-list-item__start-detail {
    width: 49px!important;
    height: 72px;
    margin-right: 18px;
}
.search_result_item {
	height: 80px!important;
}
.search_result_thumb {
    object-fit: cover;
}