#search_sheet {
	position: fixed;
    background: white;
    height: 100%;
    width: 100%;
    z-index: 3;
    top: -100%;
    transition: 0.2s;
}
#search_section {
    background-color: rgba(0,0,0,.2);
    border-radius: 2px;
    margin: 4px;
}
#search_section i {
    background-color: transparent;
}
#search_close {
    display: none;
}
#mal_search {
    width: 100%;
}
#search_background {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 0;    
}
#search_body {
    margin-top: 64px;
    vertical-align: top;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 64px);
}
#search_textfield {
    padding-top: 16px;
    width: 100%;
}
#search_query {
    font-size: 1.25rem;
    border-bottom: none;
}
::-webkit-input-placeholder {
    color: var(--mdc-theme-text-hint-on-dark)!important;
}
#search_results {
    height: inherit;
}
#search_results .mdc-list {
    padding: 0 16px;
}
.search_result_item, #search_button_menu, #search_close {
    cursor: pointer;
}
.search_result_item .mdc-list-item__start-detail {
    width: 49px!important;
    height: 72px!important;
    margin-right: 18px;
}
.search_result_item {
	height: 80px!important;
}
.search_result_thumb {
    object-fit: cover;
}
#search_button_menu {
    display: none;
}
@media (max-width: 1024px) {
    #search_button_menu {
        display: inline-block;
    }
    #search_section {
        display: none;
    }
    .mdc-toolbar__section--align-start {
        max-width: inherit;
    }
    .mdc-toolbar__section--align-end {
        max-width: 48px;
    }
}