body {
	margin: 0;
}
.mobile_spacer {
	display: none;
}
.mdc-card {
	background-color: #fff;
}
.mdc-fab {
	position: fixed;
	z-index: 6;
    bottom: 2rem;
    right: 2rem;
}
@media (max-width: 768px) {
	.mobile_spacer {
		display: block;
		height: 60px;
	}
	.spacer {
		display: none;
	}
	.mdc-fab {
		display: block;
    	bottom: 4.5rem;
    	right: 1rem;
	}
}