body {
	margin: 0;
}
.mobile_spacer {
	display: none;
}
.mdc-card {
	background-color: #fff;
}
@media (max-width: 768px) {
	.mobile_spacer {
		display: block;
		height: 61px;
	}
	.spacer {
		display: none;
	}
}