html {
	overflow-y: hidden;
}
body {
	overflow-y: visible;
	margin: 0;
}
.mdc-dialog {
	z-index: 24;
}
.mdc-dialog__body {
	color: var(--mdc-theme-text-primary-on-light,rgba(0,0,0,.87));
}
.mobile_spacer {
	display: none;
}
.mdc-card {
	background-color: #fff;
}
.mdc-fab {
	position: fixed;
	z-index: 6;
    bottom: 1.5rem;
    right: 1.5rem;
}
.mdc-toolbar-fixed-adjust {
    overflow-y: visible;
    overflow-x: hidden;
}
.mdc-toolbar__section--align-end {
	max-width: 88px;
}
.translucent {
	background-color: rgba(0,0,0,0.54);
	display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 8;
    top: 0;
}
.bottom_bar_nav {
    display: block; 
    position: fixed;
    padding-top: 12px;
    z-index: 3;
	height: 100%;
	background-color: #fff;
	border-right: 1px solid rgba(0,0,0,.12);
}
.bottom_bar_nav a {
    display: block; 
    min-width: 60px;
    padding: 0 6px;
}
.list-icon {
	font-size: 1rem;
	width: 1rem;
	margin: 0px 5px;
	vertical-align: top;
}
@media (max-width: 1023px) {
	.mobile_spacer {
		display: block;
		height: 60px;
	}
	.spacer {
		display: none;
	}
	.mdc-fab {
		display: block;
    	bottom: 1rem;
    	right: 1rem;
	}
	.bottom_bar_nav {
		border-top: 1px solid rgba(0,0,0,.12);
	    bottom: 0;
	    width: 100%;
	    height: 48px;
	    padding: 0;
	    display: table;
	    margin-left: 0px;
	    z-index: 8;
	}
	.bottom_bar_nav a {
		display: table-cell;
		width: 20vw;
	}
}