:root {
  --mdc-theme-primary: #0d47a1;
  --mdc-theme-primary-light: #5472d3;
  --mdc-theme-primary-dark: #002171;
  --mdc-theme-secondary: #2962ff;
  --mdc-theme-secondary-light: #768fff;
  --mdc-theme-secondary-dark: #0039cb;
}
a {
	text-decoration: none;
	color: #fff;
}
html, #search_background {
	background-color: #f5f5f5;
}
.mdc-card {
	background-color: #fff;
}
.mdc-linear-progress .mdc-linear-progress__bar-inner {
  background-color: var(--mdc-theme-secondary);
}
@media (max-width: 1023px) {
	html, #search_background {
		background-color: #fff;
	}
	.mdc-card {
		background-color: transparent;
		box-shadow: none;
	}
}