:root {
  --mdc-theme-primary: #0d47a1;
  --mdc-theme-primary-light: #5472d3;
  --mdc-theme-primary-dark: #002171;
  --mdc-theme-secondary: #0091ea;
  --mdc-theme-secondary-light: #64c1ff;
  --mdc-theme-secondary-dark: #0064b7;
}
html {
	background-color: #eee;
}